<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h5>PÁGINA DE INICIO (SESIÓN INICIADA)</h5>
        
        <br>
        
        <div>
            <a th:if="${session.usuariosession.imagen != null}" >
                <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" style="height: 60px; weight: 60px;">
            </a>
        </div>
        
        <br>
        
        <a th:href="@{/perfil}" >Editar Perfil</a>
        
        <br>
        
        <a href="/logout" >Cerrar Sesión</a>
    </body>
</html>
