<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div th:if="${exito}!=null" style="color: green" >
            <h5>Exito!</h5>
            <p th:text="${exito}"></p>
        </div>

        <div th:if="${error != null}" style="color: red">
            <h5>Error: </h5>
            <p th:text="${error}"></p>
        </div>
        
        <table border="1px solid black">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Cuerpo</th>
                    <th sec:authorize="hasAnyRole('ADMINISTRADOR', 'PERIODISTA')">Acciones</th>
                </tr>
            </thead>
            
            <tbody th:each="noticia : ${noticias}">
                <tr>
                    <td th:text="${noticia.id}"></td>
                    <td >
                        <a th:href= "@{ver/__${noticia.id}__}" th:text="${noticia.titulo}"></a>
                    </td>
                    <td th:text="${noticia.cuerpo}"></td>
                    <td sec:authorize="hasAnyRole('ADMINISTRADOR', 'PERIODISTA')">
                        
                        <a  sec:authorize="hasAnyRole('ADMINISTRADOR', 'PERIODISTA')"
                            th:href= "@{modificar/__${noticia.id}__}"
                            style="color: green">
                            
                            Modificar Noticia
                        </a>
                        
                        <a  sec:authorize="hasRole('ADMINISTRADOR')"
                            th:href= "@{eliminar/__${noticia.id}__}"
                            style="color: red" >
                            
                            Eliminar
                        </a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        
        <br>
        
        <a sec:authorize="hasAnyRole('ADMINISTRADOR', 'PERIODISTA')" th:href="@{/noticia/registrar}" >Crear Noticia</a>
        
            
        
    </body>
</html>
