<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div th:if="${exito}!=null" style="color: green" >
            <h5>Exito!</h5>
            <p th:text="${exito}"></p>
        </div>

        <div th:if="${error != null}" style="color: red">
            <h5>Error: </h5>
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/admin/asignarSueldo/__${usuario.id}__}" method="POST">

            <input hidden th:value="${id}" name="id">

            <div>
                <h3>Modificar Rol</h3>
            </div>

            <div>
                <label>Nombre: </label>
                <p th:text="${usuario.nombreUsuario}"></p>
                <label>Sueldo: </label>
                <p th:text="${usuario.sueldoMensual}"></p>
            </div>

            <input type="text" name="sueldoMensual" placeholder="SUELDO MENSUAL">

            <button type="submit">Actualizar</button>
        </form>

        <div>
            <div>
                <a th:href="@{/inicio}">Volver</a>
            </div>
        </div>

    </body>
</html>
